body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 5px;
}
nav a{
    text-decoration: none;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo img{
    border-radius: 50%;
}

.logo span{
    margin-left: 10px;
    color: white;
}

.navlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navlist ul li {
    float: left;
}
.navlist ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.navlist ul li a:hover {
    background-color: black;
}

.search{
    display: flex;
    padding: 10px
}
.search input{
    border: 0;
    border-radius: 10px 0 0 10px;
}
.search button{
    color: white;
    background-color: rgb(199, 122, 6);
    border: 0;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}
.search button:hover{
    color: rgb(128, 126, 126);
    background-color: rgb(235, 187, 115);
    border: 1px;
}