.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hero hero hero terpopular"
      "hero hero hero terpopular"
      "Nesw Nesw Nesw terpopular"
      "sport sport sport category"
      "politik politik politik category"
      "random random random random"
      "footer footer footer footer";
  }
  
  .hero { grid-area: hero; }
  
  .Nesw { grid-area: Nesw; }
  
  .sport { grid-area: sport; }
  
  .politik { grid-area: politik; }
  
  .terpopular { grid-area: terpopular; }
  
  .category { grid-area: category; }
  
  .random { grid-area: random; }
  
  .footer { grid-area: footer; }
  